<div class="container">
    <form class="form-container" >
        <div class="title">Login Form</div>
        <div class="form-element">
            <input type="text" [formControl]="name" placeholder="Enter username"/>
        </div>
        <div class="form-element">
            <input type="password" [formControl]="password" placeholder="Enter password" />
        </div>
        name: {{name.value}}
        passsword: {{password.value}}
        <button type="button" (click)="handleSubmit()">Login</button>
    </form>
</div>