<main class="main">
  <h1> My plan </h1>
  {{title}}
  x:{{ x}}
  y:{{y}}
  value of x+y {{ x + y}}
  x greater y: {{x > y}}
  
  <!--you can not do below action 
  
  {{ x = 10}}
   {{ x++}}
    {{x--}}
  
  using interpolation-->

  <app-login/>
  <!--
  <app-signup/>
  <app-profile/>
  <app-counter/>
  <app-userform/>
  <app-usermouseevent/>
  <app-controlflowifelse/>
  <app-loop/>

  <app-signal/>
  
  <app-effect/>
  <app-contextual/>
  <app-twowaybinding/>
  -->
  <app-directives/>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet />

