nav.header {
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li {
    margin: 0 10px;
    
}
ul li a{
    text-decoration: none;
    
}
.active {
 color:red;
}