<h1>Mounse event works!</h1>

<div>
    <div class="mouseover" (mouseover)="handleMouseHover($event)">
        This is div for mouseover<br />
        This is div for mouseover<br />
        This is div for mouseover<br />
        This is div for mouseover<br />
        This is div for mouseover<br />
    </div>

    <div class="mouseleave" (mouseleave)="handleMouseLeave($event)">
        This is div for mouse leave<br />
        This is div for mouse leave<br />
        This is div for mouse leave<br />
        This is div for mouse leave<br />
        This is div for mouse leave<br />
    </div>
    <div class="mouseenter" (mouseenter)="handleMouseEnter($event)">
        This is div for mouse enter<br />
        This is div for mouse enter<br />
        This is div for mouse enter<br />
        This is div for mouse enter<br />
        This is div for mouse enter<br />
        This is div for mouse enter<br />
    </div>
</div>